#error-addText, #error-overCount {
  width: 100%;
  height: 100px;
  color: #e65e35;
  font-size: 1.5em;
  font-weight: 600;
  border: solid 6px #e65e35;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
  margin-top: 5%;
  text-align: center;
}

#error-addText .material-icons {
  height: 8vw;
  width: auto;
  display: flex;
  align-items: center;
  font-size: 1em;
}

#error-overCount .material-icons {
  height: 8vw;
  width: auto;
  display: flex;
  align-items: center;
  font-size: 1em;
}


/* ////////////////////////////////////// */
/* ////////////MEDIA QUERIES//////////// */
/* //////////////////////////////////// */

/* Another smartphone breakpoint is maximum width of around 420px */
@media only screen and (max-width: 425px) {
  /* Write smartphone only styles here */
  #error-addText, #error-overCount {
    border: solid 4px #e65e35;
    font-size: 24px;
  }
}

/* Tablet: minimum width of 768px to maximum width of 1024px */
@media only screen and (max-width: 1024px) {
  /* Write Tablet only CSS here */
  #error-addText, #error-overCount {
    width: 80%;
    font-size: 1em;
  }
}