header {
  height: 400px;
  width: 100%;
  background-image: url("/images/asfalt-light.png");
  background-size: cover;
  background-color: rgb(255, 208, 108);
}

header img {
  margin-top: 2vw;
}

header h2 {
  font-weight: 300;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
}