/* GENERAL STYLING FOR HEADER */
header {
  height: 400px;
  width: 35%;
  background-image: url("/images/asfalt-light.png");
  background-size: cover;
  background-color: rgb(255, 208, 108);
  margin-right: 10%;
}

/* STYLING FOR HEADER IMG */
header img {
  margin-top: 2vw;
}

/* STYLING FOR THE PERSON'S NAME */
header h2 {
  font-weight: 300;
}

/* ALINGMENT SETTINGS FOR HEADER ELEMENTS - IT DIDNT WORK WELL WHEN PUT DIRECTLY UNDER HEADER */
header div {
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ////////////////////////////////////// */
/* ////////////MEDIA QUERIES//////////// */
/* //////////////////////////////////// */

/* breakpoint is maximum width of around 420px */
@media only screen and (max-width: 425px) {
  header {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  header h2 {
    font-size: 30px;
  }

  header img {
    height: 15vw;
    width: auto;
    margin-right: 50%;
  }
}

/* breakpoint maximum width of 1024px */
@media only screen and (max-width: 1024px) {
  header {
    width: 100vw;
    margin-right: 0;
  }
}