/* DEFINE THE ALIGNMENT FOR ALL ELEMENTS UNDER THIS CLASS */
.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* GENERAL STYLE FOR TWEET TEXT AREA */
.new-tweet textarea {
  outline: none;
  resize: none;
  overflow: auto;
  height: 4vw;
  width: 60vw;
  font-weight: 600;
  font-size: 1.5em;
  background-color: #f4f1ec;
  padding: 5px;
  padding-bottom: 50px;
  border: none;
  border-bottom: solid 6px #545149;
  margin-top: 2vw;
}

/* CHANGE THE FONT COLOR OF THE TEXT AREA */
input[type="text"], select, textarea {
  color: #545149;
}

/* CHANGE THE FONT SIZE OF THE TEXT AREA WHEN ON FOCUS */
input[type="text"], select, textarea:focus {
  font-size: 24px;
}

/* GENERAL STYLE FOR BUTTON AND WORD COUNT */
.tweet-footer {
  font-family: 'Bungee', cursive;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

/* STYLE THE TWEET BUTTON SUBMIT */
.tweet-footer button {
  color: white;
  background-color: #4056A1;
  padding: 5px 8px;
}


/* ////////////////////////////////////// */
/* ////////////MEDIA QUERIES//////////// */
/* //////////////////////////////////// */

/* Another smartphone breakpoint is maximum width of around 420px */
@media only screen and (max-width: 425px) {
  /* Write smartphone only styles here */
  .new-tweet {
    margin: 5% 0 10% 0;
  }

  .new-tweet textarea {
    padding-bottom: 80px;
    border-bottom: solid 4px #545149;
  }

  .tweet-footer {
    font-size: 16px;
  }
}

/* Tablet: minimum width of 768px to maximum width of 1024px */
@media only screen and (max-width: 1024px) {
  /* Write Tablet only CSS here */
  .new-tweet textarea {
    font-size: 1em;
  }
}